{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}

{% block bootstrap3_title %}Name Placeholder{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}


{% block bootstrap3_content %}
    
    {% include "header.html" %}

    <div class="container">
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">

          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/dairy.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer active_select">Dairy</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/bakedgoods.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer">bakedgoods</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/fruits.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer">fruits</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/meatsandfish.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer">meats</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/basket.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer">basket</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/veg.png" %}" class="img-responsive"></a>
              <div class="text-center top-buffer">veg</div>
          </div>
        </div>
        
        <div class="row top-buffer">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_garlic.jpg" %}" class="img-responsive img-rounded">
                  <div class="text-center"><h4>Garlic</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_bluepotatoes.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Blue Potatoes</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_parsnips.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Parsnips</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_bokchoy.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Bokchoy</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_redonion.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Red Onion</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_shiitakemush.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Shiitake Mushroom</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_sweetpotatoes.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Sweet Potatoes</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_brusselsprouts.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Brussel Sprouts</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_butternutsquash.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Butternut Squash</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-nav-fixed affix">
                    <h3 class="text-center">Shopping Cart</h3>
                    <div id="cart_info">
                        <div style="margin-left:30px;">
                          <br>
                          <h5>Apple</h5>
                          <p class="pull-right">$10</p>
                          <p>$2.50/bushels x 4 </p>
                          <h5>Kale</h5>
                          <p class="pull-right">$10</p>
                          <p>$2.50/bushels x 4 </p>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <p class="pull-right">$10</p>
                          <h5>Tax</h5>
                          <p class="pull-right">$10</p>
                          <h5>Shipping</h5>
                          <br>
                          <h5>Delivery Time and Date</h5>
                          <br>
                          <div class="center-block">
                            <button type="button" class="btn btn-lg btn-success center-block">Place Order</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}