{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}

{% block bootstrap3_title %}Name Placeholder{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>

{% endblock %}


{% block bootstrap3_content %}
    
    {% include "header.html" %}




    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Let us know when you want your food!</h4>
          </div>
          <div class="modal-body">
            <div class="modal-container">
              <div class="row">
                  <div class='col-sm-3'> </div>
                  <div class='col-sm-6'>
                      <div class="form-group">
                          <div class='input-group date' id='datetimepicker1'>
                              <input type='text' class="form-control" default="Pick your order date. ->"/>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class='col-sm-3'> </div>
                  <script type="text/javascript">
                    $('#datetimepicker1').datetimepicker({
                      format: 'L'
                    });
                  </script>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="dateModalClose" type="button" class="btn btn-primary">Ready!</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Order Complete</h4>
          </div>
          <div class="modal-body">
            <div class="modal-container">
              Your farmers are getting your order ready. We'll let you know more about your delivery soon!
            </div>
          </div>
          <div class="modal-footer">
            <button id="dateModalClose" type="button" class="btn btn-primary">Okay</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <script>
        var ourTime;

        var h = window.innerHeight - 101;

        $('.modal-dialog').css("top", "50%");
        $('.modal-dialog').css("margin-top", h/2 + "px");

      $('#dateModal').modal({
        keyboard: false
      });

      $('#dateModal').modal('show');

      $('#dateModalClose').on('click', function() {
        $('#dateModal').modal('hide');

      });
    </script>

    <div class="container">
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row" id="subheader">

          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/dairy.png" %}" class="img-responsive"></a>
              <div class="text-center voffset5 active_select">Dairy</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/bakedgoods.png" %}" class="img-responsive"></a>
              <div class="text-center voffset5">bakedgoods</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/fruits.png" %}" class="img-responsive"></a>
              <div class="text-center voffset5">fruits</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/meatsandfish.png" %}" class="img-responsive"></a>
              <div class="text-center voffset5">meats</div>
          </div>
          <div class="col-xs-4 col-md-2 row-padding">
              <a href=""><img src="{% static "images/basket.png" %}" class="img-responsive"></a>
              <div class="text-center voffset5">basket</div>
          </div>

          <div id="vegButton"  class="col-xs-4 col-md-2 row-padding">
              <img src="{% static "images/veg.png" %}" class="img-responsive">
              <div class="text-center voffset5">veg</div>
          </div>
        </div>

        <div class="voffset150"></div>

        <div class="row">
            <div class="col-md-8 voffset50">
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_garlic.jpg" %}" class="img-responsive img-rounded">
                  <!--- H4, H5, H6 all have huge margins -->
                  <div class="text-center"><h4>Garlic</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_bluepotatoes.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Blue Potatoes</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_parsnips.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Parsnips</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_bokchoy.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Bokchoy</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_redonion.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Red Onion</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_shiitakemush.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Shiitake Mushroom</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static "images/order_sweetpotatoes.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Sweet Potatoes</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_brusselsprouts.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Brussel Sprouts</h4></div>
                  {% include "add-minus.html" %}
                </div>
                <div class="col-md-4">
                  <img src="{% static "images/order_butternutsquash.jpg" %}" class="img-responsive img-rounded">
                  <div class="row text-center"><h4>Butternut Squash</h4></div>
                  {% include "add-minus.html" %}
                </div>
              </div>
            </div>
            <div class="col-md-4 voffset25">
                <div class="sidebar-nav-fixed affix">
                    <h3 class="text-center">Shopping Cart</h3>
                    <div id="cart_info">
                        <div style="margin-left:30px;">
                          <div class="voffset25">
                            <h5 class="center-block">Apple</h5>
                            <p class="pull-right">$10</p>
                            <p>$2.50/bushels x 4 </p>
                            <h5>Kale</h5>
                            <p class="pull-right">$10</p>
                            <p>$2.50/bushels x 4 </p>
                          </div>

                          <div class="voffset50"> 
                            <p class="pull-right no-bot">$10</p>
                            <h5>Tax</h5>
                            <p class="pull-right">$10</p>
                            <h5>Shipping</h5>
                            <h5 class="voffset25">Delivery Time and Date</h5>
                            <div class="row">
                              <div class='col-sm-6'>
                                  <div class="form-group">
                                      <div class='input-group date' id='datetimepicker2'>
                                          <input type='text' class="form-control" disabled></input>
                                      </div>
                                  </div>
                                </div>
                            
                              <div class='col-sm-6'>
                                  <div class='input-group date' id='datetimepicker3'>
                                      <input type='text' class="form-control" />
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                  </div>
                                </div>
                              </div>
                              <script type="text/javascript">
                                $('#datetimepicker3').datetimepicker({
                                  format: 'LT'
                                });
                              </script>
                            </div>
                          </div>
                          <div class="center-block voffset10">
                            <button type="button" class="btn btn-lg btn-success center-block" style="margin: auto !important"
                            data-sc-key="sbpb_MGQwZTU3OGMtZDQ1Yy00MzExLThiNTYtZjhiZTkxNWU0MTg2"
                            data-name="Jasmine Green Tea"
                            data-description="Smooth tea with a rich jasmine bouquet"
                            data-reference="99999"
                            data-amount="3000"
                            data-color="#5FB732">
                            Place Order
                            </button>
                          </div>
                          <script>
                            $('#Checkout').on('click', function() {
                              $('#checkoutModal').modal('show');
                            });
                          </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}