body {
  padding-top: 70px;
}
.row-padding {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
}
.top-buffer { margin-top:5px; }
.active_select { border-bottom: 2px solid #5FB732; }
#cart_info { border-left: 2px solid #5FB732; }
.navbar-custom { background-color: #5FB732; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default {
    background-color: #5FB732;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
}
.sidebar-nav-fixed {
    width:20%;
}