body {
  padding-top: 50px;
}
.row-padding {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
}
.voffset5 {
	margin-top: 5px;
}
.voffset10 {
	margin-top: 10px;
}
.voffset25 {
	margin-top: 25px;
}
.voffset50 {
	margin-top: 50px;
}
.voffset100 {
	margin-top: 100px;
}
.voffset150 {
	margin-top: 150px;
}

#subheader {
	position: fixed;
	background-color: white;
	z-index: 1025;
	width: inherit;
}

.btn-primary {
	background-color: #5FB732;
}

td.active {
	background-color: #5FB732;
}

button:hover {
	background-color: #5FB732;
}

.modal-dialog{
	width: 400px;
}

.modal-container{
	width: 368px;
}

.no-bot {
	margin-bottom: 0px;
}

.active_select { border-bottom: 2px solid #5FB732; }
#cart_info { border-left: 2px solid #5FB732; }
.navbar-custom { background-color: #5FB732; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #5FB732;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
}
.sidebar-nav-fixed {
    width:20%;
}